html, body {
  background-color: #fafafa;
}

h1 {
  font-size: 2em;
  padding: 0.5em;
  text-align: center;
}

.unit {
  position: absolute;
  display: block;
  left: 10px; top: 6px;
  z-index: 9;
  font-size: 1em;
}

#tx_id {
  text-align: center;
  width: 38em;
}

#purchase_form {
  align-content: center;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #C0C0C0;
}

.submit_buttons {
  margin:0;
  display: inline-block;
  align-items: center;
}

#folio {
  display:flex;
  align-content: center;
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 2em;
}

.heading {
  font-size: 1em;
}

#stats {
  border-bottom: 1px solid #C0C0C0;
  padding: 2em;
  margin-bottom: 1em;
}
