html, body {
  background-color: #fafafa;
}

main {
  text-align: center;
}

h1 {
  font-size:2em;
  padding: 0.5em;
  text-align:center;
}

.unit {
  position: absolute;
  display: block;
  left: 10px; top: 6px;
  z-index: 9;
  font-size: 1em;
}

#main_form {
  margin-bottom: 1em;
}

.tile {
  width: 25%;
  display: inline-block;
}
